src/conf/xml-resources/web-service-references/agendaSurService/wsdl/localhost_8080/AgendaSur-war/agendaSurService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.agendasur/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.agendasur/" name="agendaSurService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.agendasur/" schemaLocation="http://localhost:8080/AgendaSur-war/agendaSurService?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllComentario">
<part name="parameters" element="tns:findAllComentario"/>
</message>
<message name="findAllComentarioResponse">
<part name="parameters" element="tns:findAllComentarioResponse"/>
</message>
<message name="findRangeComentario">
<part name="parameters" element="tns:findRangeComentario"/>
</message>
<message name="findRangeComentarioResponse">
<part name="parameters" element="tns:findRangeComentarioResponse"/>
</message>
<message name="createComentario">
<part name="parameters" element="tns:createComentario"/>
</message>
<message name="findRangeTag">
<part name="parameters" element="tns:findRangeTag"/>
</message>
<message name="findRangeTagResponse">
<part name="parameters" element="tns:findRangeTagResponse"/>
</message>
<message name="countTag">
<part name="parameters" element="tns:countTag"/>
</message>
<message name="countTagResponse">
<part name="parameters" element="tns:countTagResponse"/>
</message>
<message name="removeEvento">
<part name="parameters" element="tns:removeEvento"/>
</message>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="findComentario">
<part name="parameters" element="tns:findComentario"/>
</message>
<message name="findComentarioResponse">
<part name="parameters" element="tns:findComentarioResponse"/>
</message>
<message name="createTag">
<part name="parameters" element="tns:createTag"/>
</message>
<message name="createUsuario">
<part name="parameters" element="tns:createUsuario"/>
</message>
<message name="createEvento">
<part name="parameters" element="tns:createEvento"/>
</message>
<message name="countEvento">
<part name="parameters" element="tns:countEvento"/>
</message>
<message name="countEventoResponse">
<part name="parameters" element="tns:countEventoResponse"/>
</message>
<message name="countUsuario">
<part name="parameters" element="tns:countUsuario"/>
</message>
<message name="countUsuarioResponse">
<part name="parameters" element="tns:countUsuarioResponse"/>
</message>
<message name="editTag">
<part name="parameters" element="tns:editTag"/>
</message>
<message name="removeTag">
<part name="parameters" element="tns:removeTag"/>
</message>
<message name="findEvento">
<part name="parameters" element="tns:findEvento"/>
</message>
<message name="findEventoResponse">
<part name="parameters" element="tns:findEventoResponse"/>
</message>
<message name="editEvento">
<part name="parameters" element="tns:editEvento"/>
</message>
<message name="removeComentario">
<part name="parameters" element="tns:removeComentario"/>
</message>
<message name="findTag">
<part name="parameters" element="tns:findTag"/>
</message>
<message name="findTagResponse">
<part name="parameters" element="tns:findTagResponse"/>
</message>
<message name="findAllTag">
<part name="parameters" element="tns:findAllTag"/>
</message>
<message name="findAllTagResponse">
<part name="parameters" element="tns:findAllTagResponse"/>
</message>
<message name="findAllEvento">
<part name="parameters" element="tns:findAllEvento"/>
</message>
<message name="findAllEventoResponse">
<part name="parameters" element="tns:findAllEventoResponse"/>
</message>
<message name="findRangeEvento">
<part name="parameters" element="tns:findRangeEvento"/>
</message>
<message name="findRangeEventoResponse">
<part name="parameters" element="tns:findRangeEventoResponse"/>
</message>
<message name="countComentario">
<part name="parameters" element="tns:countComentario"/>
</message>
<message name="countComentarioResponse">
<part name="parameters" element="tns:countComentarioResponse"/>
</message>
<message name="editComentario">
<part name="parameters" element="tns:editComentario"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<message name="findAllUsuario">
<part name="parameters" element="tns:findAllUsuario"/>
</message>
<message name="findAllUsuarioResponse">
<part name="parameters" element="tns:findAllUsuarioResponse"/>
</message>
<message name="findRangeUsuario">
<part name="parameters" element="tns:findRangeUsuario"/>
</message>
<message name="findRangeUsuarioResponse">
<part name="parameters" element="tns:findRangeUsuarioResponse"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<portType name="agendaSurService">
<operation name="findAllComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/findAllComentarioRequest" message="tns:findAllComentario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findAllComentarioResponse" message="tns:findAllComentarioResponse"/>
</operation>
<operation name="findRangeComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/findRangeComentarioRequest" message="tns:findRangeComentario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findRangeComentarioResponse" message="tns:findRangeComentarioResponse"/>
</operation>
<operation name="createComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/createComentario" message="tns:createComentario"/>
</operation>
<operation name="findRangeTag">
<input wsam:Action="http://services.agendasur/agendaSurService/findRangeTagRequest" message="tns:findRangeTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findRangeTagResponse" message="tns:findRangeTagResponse"/>
</operation>
<operation name="countTag">
<input wsam:Action="http://services.agendasur/agendaSurService/countTagRequest" message="tns:countTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/countTagResponse" message="tns:countTagResponse"/>
</operation>
<operation name="removeEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/removeEvento" message="tns:removeEvento"/>
</operation>
<operation name="findUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="findComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/findComentarioRequest" message="tns:findComentario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findComentarioResponse" message="tns:findComentarioResponse"/>
</operation>
<operation name="createTag">
<input wsam:Action="http://services.agendasur/agendaSurService/createTag" message="tns:createTag"/>
</operation>
<operation name="createUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/createUsuario" message="tns:createUsuario"/>
</operation>
<operation name="createEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/createEvento" message="tns:createEvento"/>
</operation>
<operation name="countEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/countEventoRequest" message="tns:countEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/countEventoResponse" message="tns:countEventoResponse"/>
</operation>
<operation name="countUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/countUsuarioRequest" message="tns:countUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/countUsuarioResponse" message="tns:countUsuarioResponse"/>
</operation>
<operation name="editTag">
<input wsam:Action="http://services.agendasur/agendaSurService/editTag" message="tns:editTag"/>
</operation>
<operation name="removeTag">
<input wsam:Action="http://services.agendasur/agendaSurService/removeTag" message="tns:removeTag"/>
</operation>
<operation name="findEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findEventoRequest" message="tns:findEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findEventoResponse" message="tns:findEventoResponse"/>
</operation>
<operation name="editEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/editEvento" message="tns:editEvento"/>
</operation>
<operation name="removeComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/removeComentario" message="tns:removeComentario"/>
</operation>
<operation name="findTag">
<input wsam:Action="http://services.agendasur/agendaSurService/findTagRequest" message="tns:findTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findTagResponse" message="tns:findTagResponse"/>
</operation>
<operation name="findAllTag">
<input wsam:Action="http://services.agendasur/agendaSurService/findAllTagRequest" message="tns:findAllTag"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findAllTagResponse" message="tns:findAllTagResponse"/>
</operation>
<operation name="findAllEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findAllEventoRequest" message="tns:findAllEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findAllEventoResponse" message="tns:findAllEventoResponse"/>
</operation>
<operation name="findRangeEvento">
<input wsam:Action="http://services.agendasur/agendaSurService/findRangeEventoRequest" message="tns:findRangeEvento"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findRangeEventoResponse" message="tns:findRangeEventoResponse"/>
</operation>
<operation name="countComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/countComentarioRequest" message="tns:countComentario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/countComentarioResponse" message="tns:countComentarioResponse"/>
</operation>
<operation name="editComentario">
<input wsam:Action="http://services.agendasur/agendaSurService/editComentario" message="tns:editComentario"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/removeUsuario" message="tns:removeUsuario"/>
</operation>
<operation name="findAllUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/findAllUsuarioRequest" message="tns:findAllUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findAllUsuarioResponse" message="tns:findAllUsuarioResponse"/>
</operation>
<operation name="findRangeUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/findRangeUsuarioRequest" message="tns:findRangeUsuario"/>
<output wsam:Action="http://services.agendasur/agendaSurService/findRangeUsuarioResponse" message="tns:findRangeUsuarioResponse"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://services.agendasur/agendaSurService/editUsuario" message="tns:editUsuario"/>
</operation>
</portType>
<binding name="agendaSurServicePortBinding" type="tns:agendaSurService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangeTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="agendaSurService">
<port name="agendaSurServicePort" binding="tns:agendaSurServicePortBinding">
<soap:address location="http://localhost:8080/AgendaSur-war/agendaSurService"/>
</port>
</service>
</definitions>